body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navigation {
    margin-top: -3.5rem;
}

#hero {
    position: absolute;
    top:0;
}

main {
    flex: 1;
    margin-top: 3.5rem;
}

.bg-cat{
    background-image: url(https://get.wallhere.com/photo/cat-animals-whiskers-wild-cat-fauna-mammal-vertebrate-close-up-cat-like-mammal-small-to-medium-sized-cats-tabby-cat-domestic-short-haired-cat-bengal-rusty-spotted-cat-european-shorthair-65798.jpg);
    background-position: center;
    background-size: cover;
}

.footer {

    width: 100%;
    line-height: 60px;
    background-color: #f5f5f5;
}